.background-linear-1 {
  background: rgb(97, 129, 243);
  background: linear-gradient(180deg, rgb(97, 129, 243) 0%, rgb(124, 151, 245) 99.48%);
}

.background-linear-2 {
  background: rgb(62, 32, 248);
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, rgb(208, 23, 238) 89.71%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

boby {
  background: #F5F5F5;
}

.container {
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

header {
  background: #000000;
}
header .flex-item a {
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
}
header .flex-item .cart {
  margin-top: -10px;
}
header .flex-item .cart img {
  transform: translateY(-5px);
}
header .flex-item .cart span {
  font-size: 30px;
  font-weight: 300;
  color: #FFFFFF;
}
header .navbar button {
  color: #FFFFFF;
  position: absolute;
  top: -45px;
  right: 100px;
}
header .navbar .nav-link {
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  opacity: 0.8;
}
header .navbar .active {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  opacity: 1;
  border-bottom: 2px solid #000000;
}

.carousel {
  position: relative;
  max-height: 600px;
  overflow: hidden;
}
.carousel .bg-img {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  width: 100%;
}
.carousel .bg-img img {
  width: 100%;
}
.carousel .slick-item {
  position: relative;
  z-index: 10;
  max-width: 1400px;
  margin: auto;
}
.carousel .slick-item .slider .item {
  display: flex;
}
.carousel .slick-item .slider .item img {
  width: 70%;
}
.carousel .slick-item .slider .item .info {
  width: 30%;
  margin-top: 10%;
}
.carousel .slick-item .slider .item .info h3 {
  font-size: 40px;
  font-weight: 300;
  color: #000000;
}
.carousel .slick-item .slider .item .info p {
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 50px;
}
.carousel .slick-item .slider .item .info a {
  padding: 13px 35px;
  background: #F8B653;
  font-size: 24px;
  font-weight: 200;
  color: #FFFFFF;
}
.carousel .slick-item .slider .slick-arrow {
  margin-top: -5%;
  z-index: 20;
  height: 60px;
  width: 40px;
}
.carousel .slick-item .slider .slick-arrow::before {
  display: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.carousel .slick-item .slider .slick-arrow::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.carousel .slick-item .slider .slick-arrow.slick-next::after {
  background-image: url("../img/Polygon 1.png");
}
.carousel .slick-item .slider .slick-arrow.slick-prev::after {
  background-image: url("../img/Polygon 2.png");
}
.carousel .slick-item .slider .slick-dots {
  transform: translateY(-200px);
}
.carousel .slick-item .slider .slick-dots li button::before {
  display: none;
}
.carousel .slick-item .slider .slick-dots li button::after {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.13);
  background: #FFFCFC;
}
.carousel .slick-item .slider .slick-dots li.slick-active button:after {
  border-width: 4px;
}

.product {
  padding-top: 30px;
  padding-bottom: 100px;
  background: #FFFCFC;
}
.product .container .title {
  text-align: center;
  margin-top: 16px;
}
.product .container .title h1 {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
}
.product .container .row {
  margin-top: 89px;
}
.product .container .row .col .item {
  background: #F8F8F8;
}
.product .container .row .col .item .img {
  margin: auto;
  padding-top: 45px;
  padding-bottom: 30px;
  width: 65%;
}
.product .container .row .col .item .img img {
  width: 100%;
}
.product .container .row .col .item .info {
  margin-left: 23px;
}
.product .container .row .col .item .info h3 {
  height: 60px;
  font-size: 24px;
  font-weight: 300;
  color: #000000;
}
.product .container .row .col .item .info p {
  margin-top: 8px;
  height: 100px;
  font-size: 20px;
  font-weight: 300;
  color: #CBC9C9;
}
.product .container .row .col .item .buttons {
  display: flex;
  height: 64px;
}
.product .container .row .col .item .buttons a {
  width: 52%;
  text-align: center;
  padding: 15px 0px;
  background: #E1B067;
}
.product .container .row .col .item .buttons a p {
  font-size: 24px;
  font-weight: 200;
  color: #000000;
}
.product .container .row .col .item .buttons div {
  text-align: center;
  width: 48%;
  background: #DEDDDC;
}
.product .container .row .col .item .buttons div h5 {
  margin-top: 17px;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

footer .main1 {
  background: #FAFAFA;
}
footer .main2 {
  background: #ECECEC;
}
footer .row {
  max-width: 1200px;
  margin: auto;
}
footer .row h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 15px;
}
footer .row ul li a {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
footer .row ul li a:hover {
  color: #CBC9C9;
}
footer .row p {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
footer .row a {
  font-size: 16px;
  font-weight: 400;
  color: #FC0303;
}
footer .row .center {
  border-left: 2px solid #DEDDDC;
  border-right: 2px solid #DEDDDC;
}