*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
boby{
    background: $bg-c2-light;
}
.container{
    max-width: 1200px;
    margin: auto;
}
a{
    text-decoration: none;
    cursor: pointer;
}