*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
boby{
    background: $bg-c2-light;
}
.container{
    max-width: 1200px;
    margin: auto;
}
a{
    text-decoration: none;
    cursor: pointer;
}
button{
    border: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}